.pos{
    padding-top: 250px !important;
}

.input {
    width: 100%;
    height: 30px;
}

.firstGroup {
    padding: 0;
}

.secondGroup {
    padding: 10px 0 0 0;
}

.buttondiv {
    padding: 20px 0 0 0;
}

.loginbutton {
    float: right;
}