<div class="ui-g-12">
    <div class="ui-g-3"></div>
    <div class="ui-g-6 ui-md-6 ui-sm-12">
        <h1>Profile page</h1>
        <p>
            Cras molestie facilisis nulla elementum aliquam. Fusce suscipit, justo eu ornare efficitur, eros ante bibendum purus, id ornare urna dolor vitae turpis. Sed tincidunt risus et porta fermentum. Vestibulum eleifend porta risus in hendrerit. Nulla sagittis placerat odio a tristique. Vivamus mi est, pellentesque in molestie et, ullamcorper id lacus. Curabitur sollicitudin sapien at semper tincidunt. Nulla venenatis lacus ac velit blandit, sed varius arcu ornare. Praesent a felis et massa faucibus tristique. In hac habitasse platea dictumst. Pellentesque gravida turpis nibh, ut ornare elit fringilla sollicitudin. Donec vehicula, felis quis vehicula commodo, purus lacus finibus augue, nec elementum dui augue vitae enim. Maecenas in ipsum imperdiet, rutrum nisl quis, volutpat ex. Quisque rutrum laoreet nunc, sed tempor ex tristique sit amet. Duis ac varius turpis.
        </p>
    </div>
    <div class="ui-g-3"></div>
</div>